*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*
html{

}

body{

}*/
.wrapper {
  margin: 0;
}
@media screen and (min-width: 992px) {
  .wrapper {
    margin: 0 3%;
    overflow: auto;
  }
}

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
  font-weight: 100 900;
}
@font-face {
  font-family: "Shrikhand";
  src: url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
}
body {
  font-family: "Roboto", sans-serif;
  /*font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;*/
}

p {
  color: black;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
}

h3 {
  font-family: "Roboto", sans-serif;
  color: black;
}

/* button */
.btn {
  border: none;
  border-radius: 50px;
  background-color: #9356DC;
  color: white;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
  background: linear-gradient(175deg, rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
}

.-btnmenu {
  display: block;
  /*margin: 30px 0 0 36%; /* provisoire */
  /*padding: 12px 28px 12px 28px; /* provisoire */
  margin: 2.25rem auto 0 auto;
  padding: 1.125em 3.125em 1.125em 3.125em;
}

.-btnform {
  padding: 15px 14px 15px 14px;
  margin: 0 24% 40px 24%;
  font-size: 13px;
}

/* Card */
.card {
  display: inline-block;
  width: 100%;
  border-radius: 15px;
  background-color: #fff;
  border-radius: 26px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(171, 171, 171, 0.3), 0 6px 6px rgba(190, 190, 190, 0.3);
}
.card__link {
  text-decoration: none;
}
.card__link:hover {
  text-decoration: none;
  color: inherit;
}
.card__link:active {
  text-decoration: none;
  color: inherit;
}
.card__img {
  width: 100%;
  height: 175px;
  /*temp*/
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% bottom;
     object-position: 50% bottom;
  /*min-width*/
}
.card__new {
  position: absolute;
  top: 4%;
  right: 5%;
  padding: 4px 12px 4px 12px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #0B8E6E;
  font-weight: 600;
  font-size: 13px;
}
.card__desc {
  height: 75px;
  padding: 0 2% 2% 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__info {
  display: flex;
  flex-direction: column;
}
.card__icon {
  font-size: 24px;
  padding-right: 10px;
}

/* Header */
header {
  margin-top: 10px;
  padding-bottom: 8px;
  border-bottom: 2px solid #99E2D0;
  box-shadow: 0px 3px 2px 0px rgba(153, 226, 208, 0.6);
}
header h1 {
  text-align: center;
}
header .headerLink {
  position: absolute;
  top: 3%;
  left: 6%;
  font-size: 19px;
  text-decoration: none;
  color: black;
}
header .headerLink:hover {
  text-decoration: none;
  color: inherit;
}
header .headerLink:active {
  text-decoration: none;
  color: inherit;
}

/* Footer */
.footernav {
  background-color: #353535;
  padding: 0 20px 20px 20px;
  color: white;
}
.footernav h1 {
  font-size: 20px;
  font-weight: 100;
  padding: 20px 0 20px 0;
}
.footernav__list {
  list-style: none;
}
.footernav__obj {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-bottom: 11px;
}
.footernav__obj .fas {
  font-size: 14px;
}
.footernav__obj .align {
  padding-right: 7px;
}
.footernav__link {
  color: white;
  font-size: 17px;
  text-decoration: none;
}
.footernav__link:hover {
  text-decoration: none;
  color: inherit;
}
.footernav__link:active {
  text-decoration: none;
  color: inherit;
}

/* Form */
.form {
  font-family: "Roboto";
}
.form__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #EAEAEA;
}
.form__localisation input {
  text-align: center;
  border: none;
  width: 35%;
  background-color: #EAEAEA;
  font-weight: bold;
  font-size: 16px;
}
.form__localisation .fa-map-marker-alt::before {
  font-size: 16px;
}
.form__reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  background-color: #F6F6F6;
}
.form__reservation h2 {
  text-align: center;
  margin: 0 15% 10px 15%;
}
.form__reservation p {
  text-align: center;
  margin: 0 10% 20px 10%;
}

/* Menu fonctionnement */
.funct {
  padding-top: 20px;
}
.funct h2 {
  text-indent: 20px;
}

.functlist {
  list-style: none;
  display: flex;
  /*justify-content: center;
  align-items: center;*/
  flex-flow: column wrap;
  row-gap: 20px;
  /*margin: 20px 17% 20px 0;*/
  margin: 20px 20px 20px 20px;
}
.functlist__link {
  text-decoration: none;
  color: black;
}
.functlist__link:visited {
  color: black;
}
.functlist__obj {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  background: #F6F6F6;
  border-radius: 20px;
  /*padding: 28px 40px 28px 40px;*/
  padding: 25px 0 25px 8px;
  width: 100%;
  /*100%*/
  min-width: 30px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.functlist__obj:hover {
  background-color: #F5EDFF;
}
.functlist__obj:hover .fas {
  color: #9356DC;
}
.functlist__obj i {
  flex-grow: 1;
  font-size: 20px;
  width: 36px;
  background: transparent;
  text-align: center;
  color: #7E7E7E;
}
.functlist__obj p {
  flex-grow: 2;
  font-weight: 600;
}
.functlist__num {
  position: absolute;
  top: 31%;
  left: -13px;
  border-radius: 50%;
  padding: 4px 8px;
  background: #9356DC;
  color: #fff;
}

.restaurants {
  background-color: #F6F6F6;
  margin-top: 45px;
  padding: 50px 20px 50px 20px;
}
.restaurants h2 {
  margin-bottom: 25px;
  font-size: 28px;
}

.containerRestaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 18px;
}

/* Page menu */
.menuimg {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  display: block;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 28px 28px 0 0;
  padding-top: 30px;
  transform: translateY(-60px);
}

.menuHeader {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: none;
  box-shadow: none;
}
.menuHeader h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 28px;
}
.menuHeader__icon {
  padding-right: 4%;
  font-size: 26px;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  /*flex-flow: row wrap;
  justify-content: space-evenly; /*a revoir */
}
.menuContainerSub {
  margin-top: 30px;
}
.menuContainerSub h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  text-indent: 10px;
}
.menuContainerSub h3::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 7px;
  background-color: #99e2d0;
  height: 3px;
  width: 50px;
}
.menuContainerSub__list {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
  padding: 10px 10px 10px 10px;
}
.menuContainerSub__obj {
  background-color: #fff;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 10px 20px rgba(171, 171, 171, 0.3), 0 6px 6px rgba(190, 190, 190, 0.3);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  /* Animation here */
}
.menuContainerSub__text {
  flex: 1;
}
.menuContainerSub__text p {
  font-weight: 400;
}
.menuContainerSub__price {
  align-self: flex-end;
  font-weight: bold;
}
.menuContainerSub__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  flex-basis: 0%;
  border-radius: 0 15px 15px 0;
  /*margin*/
  /*animation*/
}
.menuContainerSub__checkbox i {
  color: #99E2D0;
  background-color: #fff;
  border-radius: 50px;
  /*padding: ;*/
  /*animation*/
}/*# sourceMappingURL=main.css.map */