/* Footer */ 
.footernav{
    background-color: #353535;
    padding:  0 20px 20px 20px;
    color: white;
    h1{
        font-size: 20px;
        font-weight: 100;
        padding: 20px 0 20px 0 ;
        margin-top: 0;
        @include desktop{
            text-align: center;
        }
    }
    &__list{
        list-style: none;
        @include desktop{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
    &__obj{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        padding-bottom: 11px;
        .fas{
            font-size: 14px;
        }
        .align{
            padding-right: 7px;
        }
    }
    &__link{
        color: white;
        font-size: 17px;
        @include link;
    }
}