/* Header */ 

header{
    margin-top: 10px;
    padding-bottom: 8px;
    border-bottom: 2px solid $color-tertiary;
    box-shadow: 0px 3px 2px 0px rgba(153, 226, 208, 0.60);
    h1{
        text-align: center;
    }
    .headerLink{
        position: absolute;
        top: 3%;
        left: 6%;
        font-size: 19px;
        text-decoration: none;
        color: black;
        &:hover{
            text-decoration: none;
            color: inherit;
        }
        &:active{
            text-decoration: none;
            color: inherit;
        } 
    }
}