/* button */ 
.btn{
    border: none;
    border-radius: 50px;
    background-color: $color-primary;
    color: white;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.20);
    background: linear-gradient(175deg, rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
}
.-btnmenu{ 
    display: block;
    /*margin: 30px 0 0 36%; /* provisoire */
    /*padding: 12px 28px 12px 28px; /* provisoire */
    margin: 2.25rem auto 0 auto;
    padding: 1.125em 3.125em 1.125em 3.125em;
    
}
.-btnform{
    padding: 15px 14px 15px 14px;
    margin: 0 24% 40px 24%;
    font-size: 13px;
}