/* button */ 
.btn{
    border: none;
    border-radius: 50px;
    background-color: $color-primary;
    color: white;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.20);
    background: linear-gradient(175deg, rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
    &:hover{
        cursor: pointer;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 5px 10px rgba(0, 0, 0, 0.14);
        background: linear-gradient(175deg, rgba(255, 121, 218, 0.9), rgba(175, 122, 240, 0.9));
    }
    @include tablet{
        max-width: 20%;
    }
}
.-btnmenu{ 
    display: block;
    margin: 2.25rem auto 0 auto;
    padding: 1.125em 3.125em 1.125em 3.125em;
    
}
.-btnform{
    padding: 15px 14px 15px 14px;
    margin: 0 24% 40px 24%;
    font-size: 13px;
    
}