/* Loader */
.loader{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $color-background;
    z-index: 10;
    animation: fadeOut 1s ease-out forwards 6s;
    &Logo{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        font-size: 36px;
        color: $color-primary;
    }   
}
