*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
/*
html{

}

body{

}*/
.wrapper{
    margin: 0;
    @include desktop{
        margin: 0 3%;
        overflow: auto;
    }
}