@font-face {
    font-family: "Roboto";
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
    font-weight: 100 900;
}
@font-face {
    font-family: "Shrikhand";
    src: url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
}

body {
    font-family: 'Roboto', sans-serif;
    /*font-size: 2rem;
    font-weight: 100;
    line-height: 1.7;*/
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-weight: 100;
}