/* Menu fonctionnement */ 
.funct{
    padding-top: 20px;
    h2{
        text-indent: 20px;
        @include tablet{
            text-align: center;
        }
    }
}
.functlist{
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    row-gap: 20px;
    margin: 20px 20px 20px 20px;
    @include tablet{
        flex-flow: row wrap;
        justify-content: space-evenly;
        max-width: 1200px;
        margin: 20px auto;
    }

    &__link{
        text-decoration: none;
        color: black;
        &:visited{
            color: black;
        }
    }
    &__obj{
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        position: relative;
        background: #F6F6F6;
        border-radius: 20px;
        padding: 25px 0 25px 8px;
        width: 100%; 
        min-width: 30px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.08);
        @include tablet{
            min-width: min-content;
            max-width: 250px;
        }
        @include desktop{
            min-width: min-content;
            max-width: 300px;
            padding: 25px 10px 25px 14px;
        }
        &:hover{
            background-color: #F5EDFF;
            .fas{
                color: $color-primary;
            }
        }
        i{
            flex-grow: 1;
            font-size: 20px;
            width: 36px;
            background: transparent;
            text-align: center;
            color: #7E7E7E;
        }
        p{
            flex-grow: 2;
            font-weight: 600;
        }
    }
    &__num{
        position: absolute;
        top: 31%;
        left: -13px;
        border-radius: 50%;
        padding: 4px 8px;
        background: $color-primary;
        color: #fff;
        
    }
}
.restaurants{
    background-color: $color-background;
    margin-top: 45px;
    padding: 50px 20px 50px 20px;
    h2{
        margin-bottom: 25px;
        font-size: 28px;
        @include tablet{
            text-align: center;
        }
    }
}
.containerRestaurant{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 18px;
    @include tablet{
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: center;
        gap: 30px;
    }
    @include desktop{
        gap: 60px;
    }
}
.containerRestaurant__link:nth-child(2) img {
    object-position: 50% 61%;
}
