/* Menu fonctionnement */ 
.fonct{
    padding-top: 20px;
    h2{
        text-indent: 20px;
    }
}
.fonctliste{
    list-style: none;
    display: flex;
    /*justify-content: center;
    align-items: center;*/
    flex-flow: column wrap;
    row-gap: 20px;
    /*margin: 20px 17% 20px 0;*/
    margin: 20px 20px 20px 20px;
    &__lien{
        text-decoration: none;
        color: black;
        &:visited{
            color: black;
        }
    }
    &__obj{
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        position: relative;
        background: #F6F6F6;
        border-radius: 20px;
        /*padding: 28px 40px 28px 40px;*/
        padding: 25px 0 25px 8px;
        width: 100%; /*100%*/
        min-width: 30px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.08);
        &:hover{
            background-color: #F5EDFF;
            .fas{
                color: $couleur-primaire;
            }
        }
        i{
            flex-grow: 1;
            font-size: 20px;
            width: 36px;
            background: transparent;
            text-align: center;
            color: #7E7E7E;
        }
        p{
            flex-grow: 2;
            font-weight: 600;
        }
    }
    &__num{
        position: absolute;
        top: 31%;
        left: -13px;
        border-radius: 50%;
        padding: 4px 8px;
        background: $couleur-primaire;
        color: #fff;
        
    }
}
.restaurants{
    background-color: $color-background;
    margin-top: 45px;
    padding: 50px 20px 50px 20px;
    h2{
        margin-bottom: 25px;
        font-size: 28px;
    }
}
.containerRestaurant{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 18px;
}
