/* Menu fonctionnement */ 
.fonct{
    padding-top: 20px;
    h2{
        text-indent: 20px;
    }
}
.fonctliste{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    row-gap: 15px;
    margin: 20px 17% 20px 0;
    &__lien{
        text-decoration: none;
        color: black;
        &:visited{
            color: black;
        }
    }
    &__obj{
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        position: relative;
        background: #F6F6F6;
        border-radius: 20px;
        padding: 28px 40px 28px 40px;
        width: 100%;
        min-width: 30px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.08);
        &:hover{
            background-color: #F5EDFF;
            .fas{
                color: $couleur-primaire;
            }
        }
        i{
            flex-grow: 1;
            background: transparent;
            text-align: center;
            color: #7E7E7E;
        }
        p{
            flex-grow: 2;
        }
    }
    &__num{
        position: absolute;
        top: 31%;
        left: -13px;
        border-radius: 50%;
        padding: 4px 8px;
        background: $couleur-primaire;
        color: #fff;
    }
}
