/* Page menu */
.menuimg {
    width: 100%;
    height: 280px;
    object-fit: cover;
}
.menu {
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: $color-background;
    border-radius: 28px 28px 0 0;
    padding-top: 30px;
    transform: translateY(-60px);
    &Header {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: none;
        box-shadow: none;
        h2 {
            font-family: "Shrikhand", cursive;
            font-weight: 500;
            font-size: 28px;
        }
        &__icon {
            padding-right: 4%;
            font-size: 26px;
        }
    }
}
.menuContainer {
    display: flex;
    flex-direction: column;
    @include tablet{
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    &Sub {
        margin-top: 30px;
        h3 {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 400;
            position: relative;
            text-indent: 10px;
            padding-bottom: 10px;
            &::after {
                position: absolute;
                content: "";
                bottom: -3px;
                left: 10px;
                background-color: #99e2d0;
                height: 3px;
                width: 50px;
                margin-bottom: 5px;
            }
        }
        &__list {
            display: flex;
            flex-flow: column wrap;
            gap: 15px;
            padding: 10px 10px 10px 10px;
        }
        &__obj {
            background-color: #fff;
            border-radius: 15px;
            padding: 10px 10px 10px 10px;
            box-shadow: 0 10px 20px rgba(171, 171, 171, 0.3), 0 6px 6px rgba(190, 190, 190, 0.3);
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            /* Animation here */
            &:nth-child(-n + 4) {
                animation: fadeIn 1s ease-in-out both;
            }
            &:hover{
                cursor: pointer;
                transform: scale(1.01);
                transition: transform 300ms, transform 300s;
                .menuContainerSub__checkbox{
                    flex-basis: 17%;
                    transform: translateX(0%);
                }
                .menuContainerSub__checkbox i {
                    transform: rotate(0deg);
                }
            }
        }
        :nth-child(1) {
            animation-delay: 0.2s;
        }
        :nth-child(2) {
            animation-delay: 0.4s;
        }
        :nth-child(3) {
            animation-delay: 0.6s;
        }
        :nth-child(4) {
            animation-delay: 0.8s;
        }
        &__text {
            flex: 1;
            white-space: initial;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            h4 {
                font-size: 17px;
                padding-bottom: 3px;
            }
            p {
                font-size: 14px;
                font-weight: 400;
            }
        }
        &__price {
            align-self: flex-end;
            font-weight: bold;
        }
        &__checkbox {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-tertiary;
            transform: translateX(100%);
            flex-basis: 0%;
            border-radius: 0 15px 15px 0;
            transition: 0.4s ease-in-out;
            margin: -10px -10px -11px 9px;
            i {
                color: $color-tertiary;
                background-color: #fff;
                border-radius: 50px;
                padding: 5px;
                transform: rotate(-360deg);
                transition: 0.6s ease-in;
            }    
        } 
    }
}
