@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop )) {
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}
@mixin link {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
    &:active {
        text-decoration: none;
        color: inherit;
    }
}
