$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$ccolor-tertiary: #99E2D0;
$color-background: #F6F6F6

$breakpoints: (
    desktop: 992px,
    tablette: 768px,
);